body {
    font-family: "Georgia", serif;
    text-align: center;
    background: #ffecf3; /* Cor de fundo rosa claro */
    margin: 0;
    padding: 0;
    
}

#animated-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #ff6b6b, #ff9f9f, #ff6b6b); /* Plano de fundo animado gradiente */
    background-size: 600% 600%;
    animation: gradient 10s linear infinite; /* Animação do plano de fundo */
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

header {
    background: #ff6b6b; /* Cor de fundo vermelho */
    color: #fff;
    padding: 20px;
    font-size: 36px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

section {
    margin: 20px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8); /* Fundo branco transparente */
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

textarea {
    width: 100%;
    height: 150px;
    margin: 10px 0;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 10px;
    font-size: 18px;
}

button {
    background: #ff6b6b; /* Cor de fundo vermelho */
    color: #fff;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
    transition: background 0.3s;
}

button:hover {
    background: #ff5252; /* Cor de fundo vermelho mais escura ao passar o mouse */
}

h3 {
    margin: 20px 0;
    font-size: 24px;
    color: #333;
}

#encryptedText, #decryptedText {
    white-space: pre-wrap;
    background: #ffe6ea; /* Fundo rosa claro */
    padding: 20px;
    border: 1px solid #ffccd0; /* Borda rosa clara */
    border-radius: 10px;
    color: #333;
    font-size: 20px;
}
